.main {
    display: flex;
    width: 80vw;
    overflow: auto;
    /* border: 1px red solid; */
    height: 25rem;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
  .main::-webkit-scrollbar {
    display: none;
  }
  
  .img {
    height: 24.9rem;
    width: 100vw;
  }
  .btn {
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
    opacity: 0.3;
  }
  
  .btnBox {
    /* border: 2px green solid; */
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    margin-top: -14rem;
    opacity: 0.8;
  }
  .btn:hover {
    opacity: 0.8;
  }
  .quotes {
    /* border: 1px red solid; */
    width: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin-left: 18rem;
    z-index: 9000;
    position: absolute;
    /* background-color: red; */
    font-size: 50px;
  }