.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
.card img{
    height: 20rem;  
}
.cardDetail{
    font-size: small;
    margin-top: -5rem;
}
.card button{
    width: 13rem;
    height: 3rem;
    background-color: rgb(244, 86, 29);
    color: white;
    border: none;
}
